*{outline: none}

.ftalbum *{transition: 0.5s;}
.ftalbum{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	/*background-color: black;*/

}

.ftalbum img{
	max-width: 100vw;
	max-height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

.ftalbum button{
	width: 50;
	height: 50;
	background-color: rgba(0,0,0,0.5);
	outline: none;
	color: white;
	border: none;
	z-index: 30;
}

.ftinvisible{display: none}



/*.btleft *,.btright *{opacity: 0}*/

.btleft:hover *,.btright:hover *{opacity: 1}

.btright{left: none;right: 0;}

#ftbtclose,.btleft,.btright{
	width: 50;
	height: 50;

	position: absolute;
	
	

	z-index: 20;
	color: white;

	margin: auto;
}

#ftbtclose{ top: 10; right: 10; }
.btleft{ top: 0; bottom: 0; left: 10;  }
.btright{ top: 0; bottom: 0; right: 10;  }

